

  body {
    background-color: powderblue;
      font-family: Helvetica, Arial, sans-serif;
      font-size: 18px;
    }

  header, footer {
    background-color:lightseagreen;}
.site-title{
    color:
    red;
  }
  