
   
    ul{list-style-type:square;}
  
  body {
    background-color: powderblue;
      font-family: Helvetica, Arial, sans-serif;
      font-size: 18px;
    }

  header, footer {
    background-color:lightseagreen;}
.site-title{
    color:
    blueviolet;
  }
 
#myimage {
    box-shadow: 0px 0px 2px 1px black;
  }
  
  li {
    color: black;
}
li:nth-child(odd) {
    background-color: #777;
}
a:link {
  text-decoration: none; 
  background-color: yellow;
  border: 2px solid green;
}
  a:hover
   {background-color:coral} 